<div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Hệ thống cửa hàng</strong>
                        </div>
                        <div class="card-body">
                  <table id="bootstrap-data-table" class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th>Tên shop</th>
                        <th>Trưởng shop</th>
                        <th>Địa chỉ</th>
                        <th><button><a href="#">Thêm cửa hàng</a></button></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>GOAT</td>
                        <td>Duy</td>
                        <td>London</td>
						<th><button><a href="#">Chỉnh Sửa</a></button></th>
                      </tr>
                      <tr>
                        <td>stockX</td>
                        <td>Duy</td>
                        <td>US</td>
						<th><button><a href="#">Chỉnh Sửa</a></button></th>
                      </tr>
                      <tr>
                        <td>FlightClub</td>
                        <td>Duy</td>
                        <td>NY</td>
						<th><button><a href="#">Chỉnh Sửa</a></button></th>
                      </tr>
                      </tr>
                      <tr>
                    </tbody>
                  </table>
                        </div>
                    </div>
                </div>


                </div>
            </div><!-- .animated -->
        </div><!-- .content -->